################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PokeApi/FileContentIndex
/.vs/PokeApi/FileContentIndex/656ac5f1-70bd-4249-811f-dc74da4dedbb.vsidx
/.vs/PokeApi/v17/TestStore/0/testlog.manifest
/.vs/PokeApi/v17/TestStore/0/006.testlog
/.vs/PokeApi/v17/TestStore/0/006.testlog
/.vs/PokeApi/v17/TestStore/0/007.testlog
/.vs/PokeApi/v17/TestStore/0/008.testlog
.vs/
**/bin/
**/obj/
/.vs/PokeApi/DesignTimeBuild/.dtbcache.v2
/.vs/PokeApi/v17/.suo
/.vs/PokeApi/v17/DocumentLayout.backup.json
/.vs/PokeApi/v17/DocumentLayout.json
/PokeApi/bin/Debug/net8.0/info.txt
/PokeApi/bin/Debug/net8.0/PokeApi.dll
/PokeApi/bin/Debug/net8.0/PokeApi.exe
/PokeApi/bin/Debug/net8.0/PokeApi.pdb
/PokeApi/bin/Debug/net8.0/Pokemon.dll
/PokeApi/bin/Debug/net8.0/Pokemon.pdb
/PokeApi/bin/Debug/net8.0/PokemonIntegration.dll
/PokeApi/obj/Debug/net8.0/ref/PokeApi.dll
/PokeApi/obj/Debug/net8.0/apphost.exe
/PokeApi/obj/Debug/net8.0/PokeApi.AssemblyInfoInputs.cache
/PokeApi/obj/Debug/net8.0/PokeApi.csproj.AssemblyReference.cache
/Pokemon/bin/Debug/net8.0/Pokemon.dll
/PokeApi/obj/Debug/net8.0/PokeApi.pdb
/Pokemon/bin/Debug/net8.0/Pokemon.pdb
/Pokemon/bin/Debug/net8.0/PokemonIntegration.dll
/Pokemon/Component/BusinessMapper/PokemonTypeMapper.cs
/Pokemon/Component/DataTransferObject/PokemonTypeDto.cs
/Pokemon/obj/Debug/net8.0/ref/Pokemon.dll
/Pokemon/obj/Debug/net8.0/refint/Pokemon.dll
/Pokemon/obj/Debug/net8.0/Pokemon.csproj.AssemblyReference.cache
/Pokemon/obj/Debug/net8.0/Pokemon.csproj.CoreCompileInputs.cache
/Pokemon/obj/Debug/net8.0/Pokemon.pdb
/Pokemon/obj/Debug/net8.0/Pokemon.sourcelink.json
/PokemonIntegration/bin/Debug/net8.0/PokemonIntegration.dll
/PokemonIntegration/Component/Pokemon/DataTransferObject/PokemonTypeApiResultDto.cs
/PokemonIntegration/bin/Debug/net8.0/PokemonIntegration.pdb
/PokemonIntegration/obj/Debug/net8.0/ref/PokemonIntegration.dll
/PokemonIntegration/obj/Debug/net8.0/PokemonIntegration.AssemblyInfo.cs
/PokemonIntegration/obj/Debug/net8.0/refint/PokemonIntegration.dll
/PokemonIntegration/obj/Debug/net8.0/PokemonIntegration.AssemblyInfoInputs.cache
/PokemonIntegration/obj/Debug/net8.0/PokemonIntegration.csproj.CoreCompileInputs.cache
/PokemonIntegration/obj/Debug/net8.0/PokemonIntegration.dll
/PokemonIntegration/obj/Debug/net8.0/PokemonIntegration.pdb
/PokemonIntegration/obj/Debug/net8.0/PokemonIntegration.sourcelink.json
/Pokemon/obj/Debug/net8.0/Pokemon.dll
/.vs/PokeApi/v17/.suo
/.vs/PokeApi/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/PokeApi/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/PokeApi/v17/DocumentLayout.json
/PokeApi/bin/Debug/net8.0/PokeApi.dll
/PokeApi/bin/Debug/net8.0/PokeApi.exe
/PokeApi/bin/Debug/net8.0/PokeApi.pdb
/PokeApi/bin/Debug/net8.0/PokemonIntegration.pdb
/PokeApi/obj/Debug/net8.0/ref/PokeApi.dll
/PokeApi/obj/Debug/net8.0/refint/PokeApi.dll
/Pokemon/obj/Pokemon.csproj.nuget.dgspec.json
/Pokemon/obj/Pokemon.csproj.nuget.g.props
/Pokemon/obj/project.assets.json
/Pokemon/obj/project.nuget.cache
/PokemonDAL/bin/Debug/net8.0/PokemonDAL.dll
/PokemonDAL/bin/Debug/net8.0/PokemonDAL.pdb
/PokemonDAL/obj/Debug/net8.0/ref/PokemonDAL.dll
/PokemonDAL/obj/Debug/net8.0/refint/PokemonDAL.dll
/PokemonDAL/obj/PokemonDAL.csproj.nuget.dgspec.json
/PokemonDAL/obj/PokemonDAL.csproj.nuget.g.props
/PokemonDAL/obj/project.assets.json
/PokemonDAL/obj/project.nuget.cache
/TestProject1/obj/Debug/net8.0/ref/TestProject1.dll
/TestProject1/obj/Debug/net8.0/refint/TestProject1.dll
/TestProject1/bin/Debug/net8.0/nunit_random_seed.tmp
/TestProject1/bin/Debug/net8.0/PokeApi.deps.json
/TestProject1/bin/Debug/net8.0/PokeApi.dll
/TestProject1/bin/Debug/net8.0/PokeApi.exe
/TestProject1/bin/Debug/net8.0/PokeApi.pdb
/TestProject1/bin/Debug/net8.0/Pokemon.dll
/TestProject1/bin/Debug/net8.0/Pokemon.pdb
/TestProject1/bin/Debug/net8.0/PokemonIntegration.dll
/TestProject1/bin/Debug/net8.0/PokemonIntegration.pdb
/TestProject1/bin/Debug/net8.0/TestProject1.deps.json
/TestProject1/bin/Debug/net8.0/TestProject1.dll
/TestProject1/bin/Debug/net8.0/TestProject1.pdb
/.vs/PokeApi/v17/DocumentLayout.backup.json
/.vs/PokeApi/v17/TestStore/0/009.testlog
