################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PokeApi/FileContentIndex
/.vs/PokeApi/FileContentIndex/656ac5f1-70bd-4249-811f-dc74da4dedbb.vsidx
/.vs/PokeApi/v17/TestStore/0/testlog.manifest
/.vs/PokeApi/v17/TestStore/0/006.testlog
/.vs/PokeApi/v17/TestStore/0/006.testlog
/.vs/PokeApi/v17/TestStore/0/007.testlog
/.vs/PokeApi/v17/TestStore/0/008.testlog
.vs/
**/bin/
**/obj/