################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PokeApi/FileContentIndex
/.vs/PokeApi/FileContentIndex/656ac5f1-70bd-4249-811f-dc74da4dedbb.vsidx
